.table{
    margin-top:5px;
    margin-left:5px;
    border:2px solid black
}
#signup{
    border:2px solid black ;
    margin-top:6px;
    text-align: center;
    width: 100%;
}
form{
    padding-left:10px;
    padding-right:10px;
}